.post-title a {
text-decoration:none;
}

.post-content {
margin-top:30px;
font-family:Montserrat;
font-weight:200;
font-size:1.1em;
}

.post-content a {
color:#2980b9;
}

.post-content blockquote {
    margin: 0;
    padding-left: 15px;
    font-style: italic;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: darkgray;
}

.page-content img, .post-content img {
    max-width:100%;
}

td.post-date {
    text-align: right;
    padding-right: 10px;
    color: #999999;
}

table.post-list {
    border: 0;
}
